[Desktop Entry]
Type=Application
Name=kettle
GenericName=Terminal
Comment=A fast cross-platform GPU terminal emulator
Exec=kettle
Icon=kettle
Terminal=false
Categories=System;TerminalEmulator;
Keywords=shell;prompt;command;terminal;
StartupNotify=true
